# !!Данные лучше не трогать если не знаете что делаете!!
# Название сервиса (для логов)
SERVICE_NAME=TestCase
# Адрес базы данных
DATABASE_URL=postgresql://postgres:password@db:5432/testcasedb
# Юзер в базе данных
POSTGRES_USER=postgres
# Пароль юзера в базе данных
POSTGRES_PASSWORD=password
# Название базы данных
POSTGRES_DB=testcasedb
